extends layout

block content
    h1 #{artist.name}
        br
        br
        img(src=img)
        p Genres: #{artist.genres}
        br
        a(href=artist.external_urls.spotify) Listen on Spotify
        br
        a(href=`/albums/${artist.id}/access=${accessToken}`) View Albums